<h3 class="text-center">Sửa Thông Tin Khách Hàng</h3>
<form class="mt-3 w-75 mx-auto" action="" [formGroup]="formEditCustomer">
  <div class="form-group">
    <p>Loại Khách</p>
    <input class="form-control" type="text" formControlName="customerType">
  </div>

  <div class="form-group">
    <p>Họ Tên</p>
    <input class="form-control" type="text" formControlName="fullName">
  </div>

  <div class="form-group">
    <p>Ngày Sinh</p>
    <input class="form-control" type="text" formControlName="dateOfBirth">
  </div>

  <div class="form-group">
    <p>Số CMND</p>
    <input class="form-control" type="text" formControlName="identityNumber">
  </div>

  <div class="form-group">
    <p>SĐT</p>
    <input class="form-control" type="text" formControlName="phone">
  </div>

  <div class="form-group">
    <p>Email</p>
    <input class="form-control" type="text" formControlName="email">
  </div>

  <div class="form-group">
    <p>Địa Chỉ</p>
    <input class="form-control" type="text" formControlName="address">
  </div>

  <div class="form-group d-flex justify-content-center">
    <button class="btn btn-success mt-3" (click)="editCustomer()">Sửa</button>
  </div>
</form>
